@font-face {
    font-family: OldStyle;
    src: url(blackchancery_regular.ttf);

}
html {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.header {
    background-color: black;
}

.header h1 {
    font-family: OldStyle, Verdana, Tahoma;
    margin: 0;
    color:grey; 
    font-size: 60px;
}


.side-menu {
    float: left;
    width: 200px;
    border-style: solid;
    border-width: 2px; 
}

.content-pane {
    float:left;
    margin :5px; 
    padding: 20px;
    border-style: solid;
    border-width: 2px; 
}

.side-menu-selector {
    padding:5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin:5px;
}

.character-menu {
}

.character-pane {
    
}