@font-face {
    font-family: OldStyle;
    src: url(blackchancery_regular.ttf);

}
html {
    background-color: black;
}

nav {
    background-color: #333;
}
nav span {
    color:grey;
}
.header {
    background-color: black;
}

.header h1 {
    font-family: OldStyle, Verdana, Tahoma;
    margin: 0;
    color:grey; 
    font-size: 60px;
}

.main {
    overflow: auto;   
    height: 100%;
}
.side-menu {
    float: left;
    width: 200px;
    border-style: solid;
    border-width: 2px; 
}

.content-pane {
    float:left;
    margin :5px; 
    padding: 20px;
    border-style: solid;
    border-width: 2px; 
    width:800px;
}

.side-menu-selector {
    padding:5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin:5px;
    cursor: pointer;
}

.character-menu {
}

.character-pane {
    
}
.char-stats {
    float:left;
    width: 400px;
}
.char-portrait {
    float:left;
}
.char-portrait img {
    height: auto;
    width: 300px; 
}
#xp {
    border:1px solid black;
    position: relative;
    padding: 3px;
    width: 300px;
}
#xptext {
    position: absolute;
    width: 100%;
    text-align: center;
}
#xpbar{
    height: 20px;
    background-color: darkolivegreen;
}

.faq-content {
    border-style: solid;
    boder-width:2px; 
    margin: 10px; 
    padding: 5px;
    border-radius: 20px;
}
