<div class="side-menu">
    <div class="side-menu-selector">
        <center ng-click="setSelected('backstory')">Backstory</center>
    </div>
    <div class="side-menu-selector">
        <center ng-click="setSelected('gods')">Gods and Deities</center>
    </div>
    <div class="side-menu-selector">
        <center ng-click="setSelected('faq')">FAQ</center>
    </div>
</div>

<div class="content-pane">
    <iframe ng-show="selected == 'backstory'" ng-src="{{worldcontent.content}}" style="width:600px; height:500px;" frameborder="0"></iframe>
    <div class="faq-content" ng-show="selected == 'faq'" ng-repeat="q in questions" > 
        <h3>Question:</h3>
        <p>{{q.question}}</p>
        <h3>Answer:</h3>
        <p>{{q.answer}}</p>
        
    </div> 
    <div class="faq-content" ng-show="selected == 'gods'" ng-repeat="g in gods" > 
        <h4>Name:</h4>
        <p>{{g.name}} - {{g.title}}</p>
    </div>
</div>
