<div class="side-menu">
    <div class="side-menu-selector">
        <center ng-click="setSelected('backstory')">Backstory</center>
    </div>
    <div class="side-menu-selector">
        <center ng-click="setSelected('faq')">FAQ</center>
    </div>
</div>

<div class="content-pane">
    <iframe ng-show="worldcontent.iframe" ng-src="{{worldcontent.content}}" style="width:600px; height:500px;" frameborder="0"></iframe>
    <div class="faq-content" ng-hide="worldcontent.iframe" ng-repeat="q in questions" > 
        <h3>Question:</h3>
        <p>{{q.question}}</p>
        <h3>Answer:</h3>
        <p>{{q.answer}}</p>
        
    </div>
</div>
