<div class="side-menu">
    <p>Player Characters</p>
    <div class="side-menu-selector" ng-repeat="player in characters">
        <center ng-click="setSelected(player)">{{player.name}}</center>
    </div>
    <p>Non-Player Characters</p>
    <div class="side-menu-selector" ng-repeat="player in npcs">
        <center ng-click="setSelected(player)">{{player.name}}</center>
    </div>
</div>

<div  class="content-pane">
    <h2>Here you can see the PC and NPC characters in the campaign </h2>
    <div ng-show="selectedCharacter.name">
        <div class="char-stats">
            <p>
            Name: {{selectedCharacter.name}} <br>
            Age: {{selectedCharacter.age}} <br>
            Race: {{selectedCharacter.race}} <br>
            Level: {{selectedCharacter.lvl}} <br>
            Background: {{selectedCharacter.background}} <br>
            </p>
            <div class="char-stats-pane">
                <p>
                    Strength: {{selectedCharacter.stats.str}}<br>
                    Dexterity: {{selectedCharacter.stats.dex}}<br>
                    Constitution: {{selectedCharacter.stats.con}}<br>
                    Intelligence: {{selectedCharacter.stats.int}}<br>
                    Wisdom: {{selectedCharacter.stats.wis}}<br>
                    Constitution: {{selectedCharacter.stats.char}}<br>
                </p>
            </div>
            <div class="char-stats-background">
                <p>
                    Personality Trait: <br> {{selectedCharacter.pt}} <br> <br>
                    Ideals: <br> {{selectedCharacter.ideals}} <br> <br>
                    Bonds: <br> {{selectedCharacter.bonds}} <br> <br>
                    Flaws: <br> {{selectedCharacter.flaws}} <br> <br>
                </p>
            </div>
        </div>
        <div class="char-portrait">
            <img src="{{selectedCharacter.img}}"/>
        </div>
    </div>
</div>
