<div class="side-menu">
    <p>Player Characters</p>
    <div class="side-menu-selector" ng-repeat="player in characters">
        <center ng-click="setSelected(player)">{{player.name}}</center>
    </div>
    <p>Non-Player Characters</p>
    <div class="side-menu-selector" ng-repeat="player in npcs">
        <center ng-click="setSelected(player)">{{player.name}}</center>
    </div>
</div>

<div class="content-pane">
    <h2>This is a place where the PC and NPC characters will rest </h2>
    <p>
    Name: {{selectedCharacter.name}} <br>
    Age: {{selectedCharacter.age}} <br>
    Race: {{selectedCharacter.race}} <br>
    </p>
</div>